<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/my.css">
    <link rel="stylesheet" href="static/my.js">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home page</title>

</head>

<body>

<div class="topnav">
    <a  class="active" href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/sign_up">Sign Up</a>
    <a href="/about">About page</a>
    <a href="/services">Our Services/Products</a>
    <a href="/contacts">Contact Us</a>
    <div class="search-container">
    <input type="text" placeholder="Search.." name="search" >
    <button type="submit"><i class="fa fa-search"></i></button>
    </div>
</div>
<h1><b>Dorpol</b></h1>

<h2><b>Get your spices now!!!!</b></h2>


</body>

 </html>











