<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/my.css">
    <link rel="stylesheet" href="static/my.js">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Our Services/Products</title>


</head>


<body>

    <div class="topnav">
    <a class="active" href="/">Our Services/Products</a>
    <a href="/login">Login</a>
    <a href="/sign_up">Sign Up</a>
    <a href="/about">About page</a>
    <a href="/services">Our Services/Products</a>
    <a href="/contacts">Contact Us</a>
    <input type="text" placeholder="Search..">
    </div>


</body>
</html>