<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/my.css">
    <link rel="stylesheet" href="static/my.js">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Terms & Conditions</title>

</head>


<body>

<div class="topnav">
     <div>
    <a class="active" href="/terms"> Our Terms & Conditions</a>
    <a href="/login">Login</a>
    <a href="/">Home</a>
    <a href="/about">About page</a>
    <a href="/contacts">Contact Us</a>
     <input type="text" placeholder="Search.." style="margin-left:50px">
  </div>

</body>
</html>


